<!-- PARTIAL KIT
USE THIS IN CONTROLLER -->
 <%= erb :_response, layout: false %>

<!-- LEAVE THIS ALONE. -->
  <% if @grandma %>
    <p>Grandma says: "<span id="grandma_says"><%= @grandma %></span>"</p>
  <% end %>
